<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="playerLibs"
             type="System.Configuration.SingleTagSectionHandler"/>
    <section name="testHands"
             type="System.Configuration.NameValueSectionHandler"/>
    <section name="delays"
             type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <playerLibs lib1="..\..\..\Hearts.Sample\bin\Debug\Hearts.Sample.dll"
              lib2="..\..\..\Hearts.Sample\bin\Debug\Hearts.Sample.dll"
              lib3="..\..\..\Hearts.Sample\bin\Debug\Hearts.Sample.dll"
              lib4="..\..\..\Hearts.Sample\bin\Debug\Hearts.Sample.dll"/>
  <testHands>
    <add key="All Clubs" value="2c|3c|4c|5c|6c|7c|8c|9c|10c|Jc|Qc|Kc|Ac"/>
    <add key="All Diamonds" value="2d|3d|4d|5d|6d|7d|8d|9d|10d|Jd|Qd|Kd|Ad"/>
    <add key="All Spades" value="2s|3s|4s|5s|6s|7s|8s|9s|10s|Js|Qs|Ks|As"/>
    <add key="All Hearts" value="2h|3h|4h|5h|6h|7h|8h|9h|10h|Jh|Qh|Kh|Ah"/>
  </testHands>
  <delays>
    <add key="CardsPassed" value="800"/>
    <add key="TrickFinished" value="300"/>
    <add key="DealFinished" value="2000"/>
  </delays>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
